*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("bg.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#head{
    background-color:#1eb31e;
    display: block;
    margin: auto;
    padding: 10px;
    opacity: 0.8;

}
#color{
    color:yellow
}


#head img {
    width: 369px;
    height: 75px;
    margin: 1px -78px;   
}

}

#navbar{
    
    display: flex;
    flex-direction: unset;
    border: 2px solid red;
}
#navbar ul{
    display: flex;
    background-color: #bed622;
    border: 1px solid red;
    

}
#navbar li {
    list-style-type: none;
    padding: 12px 20px;
    font-size: 25px;
}
#navbar li a {
    text-decoration: none;
    color: #b33c3c;
}
#navbar li a:hover{
        background-color: #b9172ead;
        color: #e2e21c;
        border-radius: 7px;

    

}
#navbar::before{
    content: "";
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
     z-index: -1;

}
.container {
    height: 400px;
    display: flex;
    background-color: white;   
}
.box1 {
    background-color: rgb(170, 84, 84);
    text-align: center;
    width: 33%;
    margin: 14px 17px 20px 25PX;
}
.box2{
    background-color: rgb(236, 236, 125);
    width: 34%;
    text-align: center;
    margin: 14px 17px 20px 0px;
}
.box3{
    background-color: rgb(76, 168, 159);
    width: 34%;
    margin: 14px 25px 20px 0;
    text-align: center;

}
.white {
    background-color: white;
    display: flex;
    justify-content: center;
}
.pr1{
    width: 4px;
}
.pr2{
    width: 4px;
}
.pr3{
    width: 4px;
}
img{
    width: 140px;
    display: block;
    margin: auto;
    padding: 13px 25px 10px 106px;
}
.bold{
    font-weight: bold;
    font-size: 30px;
}
.container2{
    background-color: seashell;
    display: flex;
    flex-direction: column;
}
#head1{

}
#section{
    display: flex;
}